@import 'variaveis';
@media(max-width:1023px){
    .aluno-button a{
        width: 30vw!important;
        position: absolute;
        top:0;
        margin-top: 15px!important;
        margin-left: 35vw!important;
        font-size: 14px;
        background-color:#5f3c24!important;
        color: whitesmoke!important;
        
    }

}
@media (max-width:767px){
    .navbar-toggler{
        border-radius: 0px 5px 5px 0px!important;
    }
    .aluno-button a{
        width: 40vw!important;
        position: absolute;
        top:0;
        margin-top: 15px!important;
        margin-left: 33vw!important;
        font-size: 14px;
        background-color:#5f3c24!important;
        color: whitesmoke!important;
        border-radius: 5px 0px 0px 5px!important;
    
    }

}
@media(max-width:424px){
    .navbar-toggler{
        border-radius: 0px 5px 5px 0px!important;
    }
    .aluno-button a{
        width: 40vw!important;
        position: absolute;
        top:0;
        margin-top: 15px!important;
        margin-left: 31vw!important;
        font-size: 13px;
        background-color:#5f3c24!important;
        color: whitesmoke!important;
        border-radius: 5px 0px 0px 5px!important;
        display: row!important;
        padding-left: 6px!important;
    }

}
@media(max-width:364px){
  
    .navbar-toggler{
        border-radius: 0px 5px 5px 0px!important;
    }
    .aluno-button a{
        width: 40vw!important;
        position: absolute;
        top:0;
        margin-top: 15px!important;
        margin-left: 30vw!important;
        font-size: 12px;
        background-color:#5f3c24!important;
        color: whitesmoke!important;
        border-radius: 5px 0px 0px 5px!important;
        
    }
}
p{
    margin: 0;

}
.alunos-table{
    margin:0px !important;
    color:whitesmoke;
    overflow: hidden !important;
}
.name-search-conteiner{
    display:flex;
    align-items: inline;
    padding: 0 !important;
    
}
#search-input{
    width:150px;
    margin-left:10px;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 0;
    
    
   
}
.searchButton{
    color: thistle;
    transition: 0.4s;    
    border: 0px !important;  
}
.searchButton:hover{
    color:white !important;
  
    
}
.searchButton:focus, .editButton:focus, .deleteButton:focus{
    display: none;
}

.editButton , .deleteButton{
    color: thistle;
    transition: 0.4s;
    :hover{
        color:inherit;

    }
}


.aluno-button a{
    @include custombutton(transparent,#708090);
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left:60%;
    margin-top:-73px;
    width:20%;
    text-decoration: inherit;
    height:60px;
    border-radius: 8px;
    
    
}
#Button{

    #Button:focus{
      display:none !important;
    }
  }

.list-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: cover;
    z-index:1;
    color:wheat;
    margin-top: 10%;
    
}
.hide{
    display: none;
    transition: 0.4s;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px 0px 25px 25px;
}

#name{
    z-index: 0;
    position: relative;
    margin-left: 10px;
}

#editInput{
    z-index: 10000;
    position:absolute;
    top: 0;
    width: 250px;
    margin-left: 45px;
    
    
}

