

.logout{
    transition:0.4s;
    margin-top:-3px;
    margin-left:5px;
}
.logout:hover{
    border:1px solid rgba(0,0,0,.1);
    background-color:rgba(0,0,0,.1);
  }
   
        
        
    

    
